* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.bg-changer {
  width: 800px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  margin-top: -7px;
  width: 24.3ch;
}

.color-container {
  width: 100%;
  height: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: white;
}
